:root {
  color-scheme: light;

  font-family:
    "Poppins",
    "Noto Sans Ethiopic",
    system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Amharic */
:lang(am) {
  font-family:
    "Noto Sans Ethiopic",
    "Poppins",
    system-ui,
    sans-serif;
}

/* Afaan Oromo */
:lang(om) {
  font-family:
    "Poppins",
    "Noto Sans Ethiopic",
    system-ui,
    sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
}